# Enable rewrite engine
RewriteEngine On

# Set the base directory
RewriteBase /

# Handle 404 errors
ErrorDocument 404 /404.html

# Redirect all non-existent files and directories to 404.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* 404.html [L]

# Ensure .htaccess is read
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    AllowOverride All
</IfModule> 